%title= "CirKit - " + title
%link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
%link(rel="stylesheet" href="css/zenburn.css")
%script(src="js/highlight.pack.js")
:javascript
  hljs.initHighlightingOnLoad();
:less
  .bibchart, .legend, #publications_filter, #publications_info, #bibtex { display: none; }
  pre.hl { padding: 0; }
