!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Contents')
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand(href="#") CirKit
        .nav.navbar-nav
          %li.active
            %a(href="#") Contents
    .container
      .row
        .col-md-12
          %h1 Contents
          %p
            Mathias Soeken, 2015
          %p
            The code of CirKit is organized into several
            %i packages
            each of which containing data structures and associated algorithms and each of which is build to a separate library.  There are only few dependencies,
            %code formal
            depends on
            %code classical
            which again depends on
            %code core
            :plain
              .
          %h2 Infrastructure
          %ol
            %li
              %a(href="create_files.html") Create source files
            %li
              %span.label.label-warning Todo
              %a(href="code_checking.html") Code checking
            %li
              %span.label.label-warning Todo
              %a(href="package_manager.html") Package manager
          %h2 Core package
          %ol
            %li
              %a(href="properties.html") Writing algorithms with properties
            %li
              %span.label.label-warning Todo
              %a(href="program_options.html") Program options
            %li
              %a(href="timer.html") Timer
          %h2 Classical package
          %h3 And-inverter graphs
          %ol
            %li
              %a(href="aig_simulator.html") AIG simulator
            %li
              %a(href="simulation_graph.html") Simulation graph
          %h3 Decision diagrams
          %ol
            %li
              %span.label.label-warning Todo
              %a(href="bdd_package.html") BDD package
            %li
              %span.label.label-warning Todo
              %a(href="zdd_package.html") ZDD package
          %h2 Formal package
          %h3 Reverse engineering
          %ol
            %li
              %a(href="spiec.html") SPIEC
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    :javascript
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      } );

