!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Create Source Files')
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand(href="#") CirKit
        .nav.navbar-nav
          %li
            %a(href="contents.html") Contents
    .container
      .row
        .col-md-12
          %h1 Create Source Files
          %p
            Mathias Soeken, 2015
          %p
            There are three different kinds of source files in CirKit: source code files (located in
            %code src
            ), program files (located in
            %code programs
            ), and test files (located in
            %code test
            ).  A new source code file can be generated by calling
          %pre
            utils/make_src_file.py module/path/file addon "Author Name"
          %p
            For example, a call to
          %pre
            utils/make_src_file.py classical/functions/aig_support experimental "John Doe"
          %p
            creates the source files
            %code addon/cirkit-addon-experimental/src/classical/functions/aig_support.hpp
            and
            %code addon/cirkit-addon-experimental/src/classical/functions/aig_support.cpp
            with some pre-filled contents and the author name John Doe.  The script will also reconfigure the cmake build such that the new files are correctly detected.  The second and third parameters are optional.  The third parameter defaults to the output to
            %code
              git config --global user.name
            and the second parameter defaults to
            %code
              :plain
                .
            which refers to the base system instead of an addon.
          %p
            A similar script exists for creating tests:
          %pre
            utils/make_test.py module/name_of_test addon "Author Name"
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    :javascript
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      } );

