!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Writing Algorithms with Properties')
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand(href="#") CirKit
        .nav.navbar-nav
          %li
            %a(href="contents.html") Contents
    .container
      .row
        .col-md-12
          %h1 Writing Algorithms With Properties
          %p
            Mathias Soeken, 2015
          %p
            The implementation of an algorithm follows a certain structure which looks as follows:
          %pre.hl
            %code.cpp
              = preserve do
                :escaped
                  /* return type */ algorithm( /* mandatory parameters */,
                                               const properties::ptr& settings = properties::ptr(),
                                               const properties::ptr& statistics = properties::ptr() )
                  {
                    /* read settings (optional parameters with default values) */
                    auto verbose = get( settings, "verbose", false );

                    /* track time of algorithm */
                    properties_timer t( statistics );

                    /* code of the algorithm */
                    ...

                    /* optional return values */
                    set( statistics, "iteration_count", iteration_count ); /* iteration_count is unsigned in this example */

                    return /* algorithm result */;
                  }
          %p
            If possible, the result is returned as the return value of the function.  In some cases, it is more convenient to return a Boolean value that indicated whether the algorithm terminated successful or not.  In this case, the return value is the first parameter and called by reference.  Mandatory parameters are normal C++ parameters.  Properties handle optional parameters and optional return values, also called statistics values.  They are implemented in the
            %code properties::ptr
            data structure, which is a map that takes a
            %code std::string
            as key and a
            %code boost::any
            as value.  Helper methods ensure implicit casting.

          %p
            In the example code, a Boolean value
            %code verbose
            is read for the key
            %code "verbose"
            :plain
              .
            The convention is to have the same variable name as the key.  The parameter type is retrieved from the default value that is passed as third argument to the
            %code get
            function.  Also, an
            %code unsigned
            value
            %code iteration_count
            is stored into the
            %code statistics
            map using the key
            %code "iteration_count"
            , if it is not null.  Also the run-time of the algorithm is
            %a(href="timer.html") automatically tracked
            using the
            %code properties_timer
            :plain
              .
            The convention is to
            %b read
            from
            %code settings
            and to
            %b write
            into statistics inside the algorithm.  Outside of the algorithm the situation is reversed:
          %pre.hl
            %code.cpp
              = preserve do
                :escaped
                  auto settings   = std::make_shared<properties>();
                  auto statistics = std::make_shared<properties>();

                  settings->set( "verbose", true );
                  auto result = algorithm( ..., settings, statistics );

                  std::cout << "[i] number of iterations: " << statistics->get<unsigned>( "iteration_count" ) << std::endl;
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    :javascript
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      } );

