!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Simulation Graph')
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand(href="#") CirKit
        .nav.navbar-nav
          %li
            %a(href="contents.html") Contents
    .container
      .row
        .col-md-12
          %h1 Simulation Graph
          %p
            Mathias Soeken, 2015
          %h2 Main Functions
          %p
            The main function to create a simulation graph has the following interface:
          %pre.hl
            %code.cpp
              = preserve do
                :escaped
                  simulation_graph create_simulation_graph( const aig_graph& aig,
                                                            const std::vector<boost::dynamic_bitset<>>& sim_vectors,
                                                            const properties::ptr& settings = properties::ptr(),
                                                            const properties::ptr& statistics = properties::ptr() );
          %p
            The function creates a simulation graph for the AIG
            %code aig
            based on the simulation vectors in
            %code sim_vectors
            :plain
              .
            The width of each simulation vector must correspond to the number of inputs in the AIG.  The following settings can be provided:
          %table.table.table-striped
            %thead
              %tr
                %th Setting key
                %th Description
                %th Default value
            %tbody
              %tr
                %td
                  %code "support"
                %td
                  If true, then the support size of each output is annoted to its corresponding vertex in the simulation graph.
                %td
                  %code false
              %tr
                %td
                  %code "support_edges"
                %td
                  If true, then outputs vertices are connected to input vertices that are in the support.  This setting is ignored, if
                  %code "support"
                  is set to false.
                %td
                  %code false
              %tr
                %td
                  %code "vertexnames"
                %td
                  If true, then names are annotated to the vertices in the simulation graphs.  These are the names of PIs and POs as well as patterns for the simultaion vectors.
                %td
                  %code false
              %tr
                %td
                  %code "dotname"
                %td
                  If given, a DOT representation of the simulation graph is written to this filename.  If
                  %code "vertexnames"
                  are set to true, these are used as vertex labels.
                %td
                  %code std::string()
              %tr
                %td
                  %code "graphname"
                %td
                  If given, a graph file representation (e.g., for LAD) of the simulation graph is written to this filename.
                %td
                  %code std::string()
              %tr
                %td
                  %code "labeledname"
                %td
                  If given, a labeled graph file representation (e.g., for LAD) of the simulation graph is written to this filename.
                %td
                  %code std::string()
          %p In order to create simulation vectors based on patterns, the following function can be used:
          %pre.hl
            %code.cpp
              = preserve do
                :escaped
                  std::vector<boost::dynamic_bitset<>> create_simulation_vectors( unsigned width,
                                                                                  unsigned selector,
                                                                                  std::vector<unsigned>* partition = nullptr );
          %p
            Here,
            %code width
            is the bit-width of the simulation vectors, which is typically derived from the number of PIs.
            %code selector
            is a bit-mask to control the patterns from which simulation vectors can be created, possible values are:
          %table.table.table-striped
            %thead
              %tr
                %th Selector
                %th Description
            %tbody
              %tr
                %td
                  %code simulation_pattern::all_hot
                %td
                  All bits are assigned 1.
              %tr
                %td
                  %code simulation_pattern::one_hot
                %td
                  All pattern in which one bit is assigned 1.
              %tr
                %td
                  %code simulation_pattern::two_hot
                %td
                  All pattern in which two bits are assigned 1.
              %tr
                %td
                  %code simulation_pattern::all_cold
                %td
                  All bits are assigned 0.
              %tr
                %td
                  %code simulation_pattern::one_cold
                %td
                  All pattern in which one bit is assigned 0.
              %tr
                %td
                  %code simulation_pattern::two_cold
                %td
                  All pattern in which two bits are assigned 0.
          %p
            If the parameter
            %code partition
            is not the null-pointer, it is filled with a list of numbers that correspond to the number of generated vectors for each given selector.
          %p
            Both functions are combined in the function:
          %pre.hl
            %code.cpp
              = preserve do
                :escaped
                  simulation_graph create_simulation_graph( const aig_graph& aig,
                                                            unsigned selector,
                                                            const properties::ptr& settings = properties::ptr(),
                                                            const properties::ptr& statistics = properties::ptr() );
          %p
            in which based on the AIG and the selector simulation vertices are created.  This function will also label all vertices and edges based on their type.  For this purpose the information from the
            %code partition
            parameter given to
            %code create_simulation_vectors
            is used.
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    :javascript
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      } );

