!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Timer')
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand(href="#") CirKit
        .nav.navbar-nav
          %li
            %a(href="contents.html") Contents
    .container
      .row
        .col-md-12
          %h1 SPIEC
          %p
            Mathias Soeken, 2015
          %p
            Checking whether
            %code component
            is contained in
            %code block
            :plain
              .
          %pre.hl
            %code.bash
              = preserve do
                :escaped
                  cirkit> read_aiger block.aig
                  cirkit> read_aiger -n component.aig
                  cirkit> spiec --new
          %p
            Simulation vectors
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    :javascript
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      } );

