!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Timer')
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand(href="#") CirKit
        .nav.navbar-nav
          %li
            %a(href="contents.html") Contents
    .container
      .row
        .col-md-12
          %h1 Timer
          %p
            Mathias Soeken, 2015
          %p
            There are some automatic timers based on
            %a(href="http://www.boost.org/doc/libs/1_57_0/libs/timer/doc/cpu_timers.html#using-auto_cpu_timer")
              Boost
              %tt auto_cpu_timer
            implemented in CirKit.  They need to be initialized at the beginning of a scope and will perform an action after automatic destruction.
          %table.table.table-striped.table-hovered
            %tbody
              %tr
                %td
                  %code print_timer
                %td
                  Prints the run-time to an output stream.
              %tr
                %td
                  %code properties_timer
                %td
                  Writes the run-time to a properties map.
              %tr
                %td
                  %code reference_timer
                %td
                  Writes the run-time to a variable.
          %p
            %span.label.label-warning Warning
            Do not forget to give the timer instance a variable name.  The code will still compile, if no variable name is given, but the semantics changes.  In that case the instance will be destroyed immediately after creation and wrong run-time results are reported.
          %h2
            Print Timer
          %pre.hl
            %code.cpp
              = preserve do
                :escaped
                  print_timer( const std::string& format = "[i] run-time: %w secs\n", bool verbose = false, std::ostream& os = std::cout )
          %table.table.table-striped.table-hovered
            %tbody
              %tr
                %td
                  %code format
                %td
                  Format string for outputting the run-time. See
                  %a(href="http://www.boost.org/doc/libs/1_57_0/libs/timer/doc/cpu_timers.html#format") here
                  for possible placeholders.
              %tr
                %td
                  %code verbose
                %td
                  If set to
                  %code false
                  the run-time will not be printed. This is a convenient way to save some
                  %code if
                  statements in the code.
              %tr
                %td
                  %code os
                %td
                  Output stream to print to.
          %h2
            Properties Timer
          %pre.hl
            %code.cpp
              = preserve do
                :escaped
                  properties_timer( const properties::ptr& statistics, const std::string& key = "runtime" )
          %table.table.table-striped.table-hovered
            %tbody
              %tr
                %td
                  %code statistics
                %td
                  %a(href="properties.html") Property map
                  to write to, usually the statistics map.
              %tr
                %td
                  %code key
                %td
                  Key to specify the location in the map.
          %h2
            Reference Timer
          %pre.hl
            %code.cpp
              = preserve do
                :escaped
                  reference_timer( double* runtime )
          %table.table.table-striped.table-hovered
            %tbody
              %tr
                %td
                  %code runtime
                %td
                  Pointer to a
                  %code double
                  variable.
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    :javascript
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      } );

